---
interface Props {
	id: string;
	title: string;
}

const { id, title } = Astro.props;
---

<div id={id} class="modal-overlay">
	<div class="modal-content">
		<h2 class="modal-title">{title}</h2>
		<div class="modal-body">
			<slot />
		</div>
		<button class="modal-close-btn">Tutup</button>
	</div>
</div>

<style>
	.modal-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
		z-index: 1000;
	}

	.modal-overlay.is-visible {
		opacity: 1;
		visibility: visible;
	}

	.modal-content {
		background-color: var(--gray-999);
		padding: 2rem;
		border-radius: 1rem;
		border: 1px solid var(--gray-800);
		width: 90%;
		max-width: 500px;
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	}

	.modal-title {
		color: var(--gray-100);
		font-size: var(--text-xl);
		margin-bottom: 1rem;
	}

	.modal-body {
		color: var(--gray-300);
		margin-bottom: 1.5rem;
	}

	.modal-close-btn {
		display: block;
		margin-left: auto;
		background-color: var(--accent-regular);
		color: var(--gray-0);
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		cursor: pointer;
		transition: background-color 0.2s;
	}

	.modal-close-btn:hover {
		background-color: var(--accent-dark);
	}
</style>
